body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2560px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:744px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:2560px;
  height:744px;
  display:flex;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u674 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:789px;
  width:532px;
  height:150px;
  display:flex;
}
#u674 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
