body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-39px;
  width:627px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:1266px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:17px;
  width:357px;
  height:1266px;
  display:flex;
}
#u697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:478px;
  width:0px;
  height:0px;
}
#u698_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-5px;
  width:26px;
  height:10px;
}
#u698_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-5px;
  width:10px;
  height:253px;
}
#u698_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:238px;
  width:267px;
  height:10px;
}
#u698_seg3 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:243px;
  width:10px;
  height:5px;
}
#u698_seg4 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:233px;
  width:18px;
  height:18px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:232px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(253, 254, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:469px;
  width:18px;
  height:18px;
  display:flex;
}
#u700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:711px;
  width:1px;
  height:20px;
  display:flex;
}
#u702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:711px;
  width:60px;
  height:33px;
}
#u703_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:248px;
  height:19px;
  display:flex;
}
#u704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u704_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
