body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2399px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2399px;
  height:360px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2399px;
  height:360px;
  display:flex;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:15px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:372px;
  width:734px;
  height:150px;
  display:flex;
  font-size:15px;
}
#u773 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
