body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-53px;
  width:1230px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:1054px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:108px;
  width:849px;
  height:1054px;
  display:flex;
}
#u690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:357px;
  width:0px;
  height:0px;
}
#u691_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-32px;
  width:10px;
  height:32px;
}
#u691_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-32px;
  width:202px;
  height:10px;
}
#u691_seg2 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:-32px;
  width:10px;
  height:261px;
}
#u691_seg3 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:219px;
  width:26px;
  height:10px;
}
#u691_seg4 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:224px;
  width:10px;
  height:5px;
}
#u691_seg5 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:214px;
  width:18px;
  height:18px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(253, 254, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:348px;
  width:18px;
  height:18px;
  display:flex;
}
#u693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:244px;
  height:25px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:571px;
  width:238px;
  height:19px;
  display:flex;
}
#u695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:571px;
  width:1px;
  height:20px;
  display:flex;
}
#u696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
