body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-171px;
  width:1251px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:189px;
  width:1251px;
  height:783px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:62px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:62px;
  display:flex;
  font-size:20px;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:62px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:809px;
  height:62px;
  display:flex;
  font-size:20px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:62px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:0px;
  width:206px;
  height:62px;
  display:flex;
  font-size:20px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:467px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:236px;
  height:467px;
  display:flex;
  font-size:20px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:467px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:62px;
  width:809px;
  height:467px;
  display:flex;
  font-size:20px;
  text-align:left;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:467px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:62px;
  width:206px;
  height:467px;
  display:flex;
  font-size:20px;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:254px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:529px;
  width:236px;
  height:254px;
  display:flex;
  font-size:20px;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:254px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:529px;
  width:809px;
  height:254px;
  display:flex;
  font-size:20px;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:254px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:529px;
  width:206px;
  height:254px;
  display:flex;
  font-size:20px;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:159px;
  width:73px;
  height:30px;
  display:flex;
  font-size:16px;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
